/*
color palette used: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
*/
* {
    color: #1D3557;
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-size: 20px;
}

body
{
    background-color: #F1FAEE;
}

hr 
{
    color: #457B9D;
}

.button {
    margin: 8px 1px 5px 1px;
    background-color: #457B9D;
    padding: 8px 25px;
    border: 0px;
    transition-duration: 0.4s;
    color: #F1FAEE;
    /*
    Quelle: https://community.atlassian.com/t5/Confluence-questions/Drop-shadow-CSS-on-header/qaq-p/1488228
    */
    box-shadow: 0 0 5px rgba(128,128,128,.8); /** the shadow */
}

.button:hover
{
    color: #F1FAEE;
    background-color: #1D3557;
}

h1
{
    color: #F1FAEE;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #457B9D;
    color:darkorange;
    /*
    position: fixed;
    */
    width: 100%;
    max-width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    height: 90px;
    min-height: 90px;
    /*
    Quelle: https://community.atlassian.com/t5/Confluence-questions/Drop-shadow-CSS-on-header/qaq-p/1488228
    */
    box-shadow: 0 0 10px rgba(128,128,128,.8); /** the shadow */
    justify-content: center;
   text-align: center;
   z-index: 0;
}

#subheader
{
    z-index: 1;
    background-color: #A8DADC;
    /*border-bottom: 1px solid #1D3557;*/
    padding: 4px 0px;
}

#main-collumn
{
    order: 2;
    flex: 0 0 50%;
}

#left-collumn
{
    order: 1;
    flex: 0 0 25%;
}

#debug-collumn
{
    order: 3;
    flex: 0 0 25%;
}

.input-box
{
    background-color:#A8DADC;
    border: none;
    transition-duration: 0.2s;
    margin: 5px;
    padding: 5px;
    font-size: 17px;
    color: black;
    /*
    Quelle: https://community.atlassian.com/t5/Confluence-questions/Drop-shadow-CSS-on-header/qaq-p/1488228
    */
    box-shadow: inset 0 0 5px rgba(128,128,128,.8); /** the shadow */
}

code
{
    font-size: 15px;
}

.main-content
{
   
   margin-top: 20px;
   align-self: center;
   /*vertical-align: middle;*/
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;
}


@media screen and (max-width: 769px) {
    .main-content
    {
        flex-direction: column;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

a:hover {
    color: #E07A5F;
}

#login-pannel
{
    align-content: center;
}

footer {
    background-color: #457B9D;
    text-align: center;
    color:#F1FAEE;
    font-size: 17px;
    bottom: 0;
    position: fixed;
    
    width: 100%;
    max-width: 100%;
    left: 0;
    height: 25px;
    min-height: 25px;
    /*
    Quelle: https://community.atlassian.com/t5/Confluence-questions/Drop-shadow-CSS-on-header/qaq-p/1488228
    */
    box-shadow: 0 0 10px rgba(128,128,128,.8); /** the shadow */
    margin: 5px 0 0 0;
    height: 18px;
    max-height: 18px;
    bottom: 0;
}

footer:hover {
    color: white;
}

img {
    /*border: 2px solid brown;
    box-shadow: 0 0 10px rgba(128,128,128,.8); /** the shadow 
    margin: 10px;*/
    margin: 0px;
    
    width: 100px;
    max-width: 100px;
}

#title
{
    order: 1;
    font-size: 45px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: #F1FAEE;
}

#logo
{
    order: 2;
    height: 60px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

h1 
{
    padding: 10px;
}

h2
{
    font-size: 24px;
    padding: 10px;
}

#debug-msg
{
    color: #E63946 !important;
}